@charset "UTF-8";
.textShadow {
  text-shadow: 7px 9px 5px rgba(97, 5, 153, 0.6);
}

.hover {
  color: #B661EA !important;
}

.tableNone {
  display: none !important;
}

.block__fone {
  background: url("./../images/fone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  min-height: 831px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header {
  z-index: 1;
  position: relative;
  padding-bottom: 146px;
  background: -webkit-gradient(linear, left top, left bottom, from(#b661ea), to(rgba(47, 47, 47, 0)));
  background: linear-gradient(180deg, #b661ea 0%, rgba(47, 47, 47, 0) 100%);
  height: 361px;
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container {
  max-width: 133.3rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-bottom: 146px;
}
.header .nav__link {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FAF3FF;
  font-size: 2rem;
  font-family: "Montserrat";
  line-height: 24px;
  margin-right: 23px;
}
.header .nav__link:last-child {
  margin-right: 0;
}
.header__phohe a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  font-family: "Montserrat";
  line-height: 24px;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 19px;
  position: absolute;
  top: 50%;
  left: 13%;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}
.social a {
  color: #FAF3FF;
}
.social a:hover {
  color: #B661EA;
}
.social::after {
  content: "";
  height: 256px;
  width: 3px;
  background-color: #FAF3FF;
}
.social::before {
  content: "";
  height: 256px;
  width: 3px;
  background-color: #FAF3FF;
}

.history__container {
  max-width: 1292px;
  margin: 0 auto;
  padding: 0px 15px;
}
.history__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.history__title {
  margin-top: 40px;
  color: #FAF3FF;
  font-size: 4.8rem;
  font-weight: 600;
  line-height: 56px;
  position: relative;
  text-align: right;
  margin-bottom: 88px;
}
.history__title ::after {
  position: absolute;
  content: "";
  bottom: 0;
  right: 0;
  margin-top: 2px;
  max-width: 410px;
  width: 100%;
  height: 3px;
  background: #b661ea;
}
.history__manky__col__left img {
  border-radius: 10px;
}
.history__manky__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 114px;
     -moz-column-gap: 114px;
          column-gap: 114px;
  margin-bottom: 101px;
}
.history__manky__col__right {
  max-width: 518px;
}
.history__manky__col__right .oneP {
  margin-bottom: 10px;
}
.history__manky__col__right p {
  color: #FAF3FF;
  text-align: center;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 111%;
}
.history__manky__col__right span {
  color: #B661EA;
  font-size: 3.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
}
.history__manky__text {
  max-width: 1218px;
  width: 100%;
}
.history__manky__text p {
  color: #FAF3FF;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  margin-bottom: 30px;
}

.moments {
  margin-bottom: 930px;
  background-image: url("../images/moments/aboutImg.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 955px;
  height: 100%;
  width: 100%;
  position: relative;
}
.moments::before {
  content: "";
  position: absolute;
  top: 931px;
  left: 0;
  background-image: url("./../images/moments/aboutImg2.png");
  background-repeat: no-repeat;
  background-size: cover;
  max-height: 955px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.moments__photo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.moments__title {
  margin-bottom: 80px;
}
.moments__photo__img__block {
  position: relative;
  max-width: 416px;
  max-height: 278px;
  height: 100%;
  width: 100%;
}
.moments__photo__img__block img {
  position: relative;
  z-index: 2;
  border-radius: 10px;
}
.moments__photo__img__block::after {
  content: "";
  position: absolute;
  top: 14px;
  /* Смещение вверх на 5px */
  left: -12px;
  /* Смещение влево на 5px */
  border: 1px solid #FCF3FF;
  width: 106%;
  height: 100%;
  z-index: 1;
  border-radius: 10px;
}

.win {
  padding-top: 38px;
  margin-bottom: 113px;
  background-image: url("../images/win/win.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.win__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.win__title h2 {
  color: #FAF3FF;
  font-family: "Montserrat";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 116%;
}
.win__Russia {
  margin-bottom: 40px;
}
.win__Russia h3 {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.win__desc {
  margin-bottom: 48px;
}
.win__desc ul li {
  color: #FAF3FF;
  text-align: center;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%;
}
.win__respublic {
  margin-bottom: 40px;
}
.win__respublic h3 {
  color: rgba(255, 255, 255, 0.6);
  font-family: "Montserrat";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}
.win__respublic ul li {
  color: #FAF3FF;
  text-align: center;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%;
}

.map__container {
  position: relative;
}
.map__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 99px;
     -moz-column-gap: 99px;
          column-gap: 99px;
}
.map__quest {
  z-index: 2;
  margin-top: 19px;
}
.map .gis2__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.map .gis2__title {
  color: #FAF3FF;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%;
}
.map .gis2__img {
  z-index: 2;
}
.map__quest__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 520px;
}
.map__quest__title {
  width: 100%;
  margin-bottom: 10px;
}
.map__quest__title h3 {
  color: #FAF3FF;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%;
}
.map__quest__text {
  margin-bottom: 16px;
}
.map__quest__text h3 {
  color: #FAF3FF;
  font-family: "Montserrat";
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 111%;
}
.map form input[type=text] {
  max-width: 250px;
  border-radius: 10px;
  border: 1px solid #FCF3FF;
  color: #9E9E9E;
  font-family: "Montserrat";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 8px 16px;
}
.map form .name {
  margin-bottom: 32px;
}
.map form .form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.map form .btnForm {
  margin-top: 32px;
  border-radius: 10px;
  background: #B661EA;
  width: 134px;
  height: 40px;
  -webkit-box-shadow: 4px 6px 6px 0px rgba(97, 5, 153, 0.5);
          box-shadow: 4px 6px 6px 0px rgba(97, 5, 153, 0.5);
  color: #121212;
  font-family: "Montserrat";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.footer {
  margin-top: 5.6rem;
  background: var(--gradient-color-gradient-violet-futer, linear-gradient(to top, #b661ea 0%, rgba(47, 47, 47, 0) 85.41%));
}
.footer__container {
  max-width: 133.3rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__container {
  max-width: 133.3rem;
  margin: 0 auto;
  padding: 0 1.5rem;
  margin-bottom: 16px;
}
.footer .nav__link {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FAF3FF;
  font-size: 2rem;
  font-family: "Montserrat";
  line-height: 24px;
  margin-right: 23px;
}
.footer .nav__link:last-child {
  margin-right: 0;
}
.footer__phohe a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  font-family: "Montserrat";
  line-height: 24px;
}