@media (max-width: 1024px) {
  .directions__row {
    -webkit-column-gap: 85px;
       -moz-column-gap: 85px;
            column-gap: 85px;
  }
  .schedule__body::after {
    right: -15px;
  }
  .price::after {
    left: 0px;
  }
  .price__btn {
    top: -93px;
    left: -14px;
  }
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .header__phohe {
    display: none;
  }
  .school__link {
    margin-bottom: 47px;
  }
  .social {
    left: 1%;
  }
  .choreographers__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
  }
  .price__block1__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 40px;
  }
  .price__block1__row h4 {
    color: #FAF3FF;
    font-size: 2.6rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
  }
  .price__block1__col__item h5 {
    font-size: 2.2rem;
  }
  .price__block2__colm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price__block2__item__desc {
    font-size: 2rem;
  }
  .price__block2__quest {
    width: 64%;
  }
  .price__block2__item__price--200 {
    padding-left: 63px;
  }
  .price__block2__item__price--400 {
    padding-left: 79px;
  }
  .price__block2__item__price--1600 {
    padding-left: 79px;
  }
  .price__block2__item__price--2600 {
    padding-left: 88px;
  }
  .map__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .win__Russia h3, .win__respublic h3 {
    font-size: 3.5rem;
  }
  .win__respublic h3 {
    margin-bottom: 40px;
  }
  .map .gis2__row {
    margin-bottom: 16px;
  }
  .map__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer .nav {
    display: block;
  }
  .footer .nav__link {
    margin-right: 16px;
  }
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__phohe {
    margin-left: auto !important;
  }
}