@charset "UTF-8";
@media (max-width: 1024px) {
  .directions__row {
    -webkit-column-gap: 85px;
       -moz-column-gap: 85px;
            column-gap: 85px;
  }
  .schedule__body::after {
    right: -15px;
  }
  .price::after {
    left: 0px;
  }
}
@media (max-width: 768px) {
  .nav {
    display: none;
  }
  .header__phohe {
    display: none;
  }
  .school__link {
    margin-bottom: 47px;
  }
  .directions__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  .directions__title__box {
    max-width: 305px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .social {
    left: 1%;
  }
  .choreographers__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 47%;
            flex: 0 0 47%;
  }
  .price__block1__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-left: 40px;
  }
  .price__block1__row h4 {
    color: #faf3ff;
    font-size: 2.6rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
  }
  .price__block1__col__item h5 {
    font-size: 2.2rem;
  }
  .price__block2__colm {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price__block2__item__desc {
    font-size: 2rem;
  }
  .price__block2__quest {
    width: 64%;
  }
  .price__block2__item__price--200 {
    padding-left: 63px;
  }
  .price__block2__item__price--400 {
    padding-left: 79px;
  }
  .price__block2__item__price--1600 {
    padding-left: 79px;
  }
  .price__block2__item__price--2600 {
    padding-left: 88px;
  }
  .map__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .map__gis2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .win__Russia h3, .win__respublic h3 {
    font-size: 3.5rem;
  }
  .win__title {
    margin-top: 24px;
  }
  .win__respublic h3 {
    margin-bottom: 40px;
  }
  .map .gis2__row {
    margin-bottom: 16px;
  }
  .map__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .footer .nav {
    display: block;
  }
  .footer .nav__link {
    margin-right: 16px;
  }
  .footer__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .footer__phohe {
    margin-left: auto !important;
  }
}
@media (max-width: 500px) {
  .wrapper__img {
    width: 71%;
    top: 210px;
  }
  .header__log {
    margin-left: auto;
    margin-right: auto;
  }
  .social {
    display: none;
  }
  .socialMedia {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    margin-bottom: 23.5px;
  }
  .socialPhone {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 24px;
  }
  .socialPhone a {
    color: rgba(255, 255, 255, 0.6);
    font-family: Montserrat;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
  }
  .school__desc {
    font-size: 2.4rem;
    margin-bottom: 4px;
  }
  .school__name {
    font-size: 4.8rem;
    margin-bottom: 15px;
  }
  .school__link {
    font-size: 1.6rem;
    max-width: 140px;
    height: 40px;
  }
  .winners__row {
    row-gap: 16px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 23.5px;
  }
  .winners__win, .winners__baby, .winners__hals {
    font-size: 1.6rem;
  }
  .schedule__body::after {
    display: none;
  }
  .price::after {
    display: none;
  }
  .block__fone {
    background: url(./../images/fone-chore.png);
    background-repeat: no-repeat;
    min-height: 768px;
  }
  .directions {
    margin-bottom: 40px;
    margin-top: 2.4rem;
  }
  .directions__body__title {
    font-size: 2.4rem;
    line-height: 133.333%;
  }
  .directions__body__title::after {
    max-width: 218px;
  }
  .directions__row {
    max-width: 294px;
    width: 100%;
  }
  .directions__col__name {
    font-size: 2.4rem;
    line-height: 133.333%;
    min-width: 150px;
  }
  .directions__col__video__link {
    font-size: 1.6rem;
    -ms-scroll-limit-x-max: 100%;
  }
  .directions__col__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
    -webkit-column-gap: 39px;
       -moz-column-gap: 39px;
            column-gap: 39px;
  }
  .directions__title {
    max-width: 305px;
    margin-left: auto;
    margin-right: auto;
  }
  .directions__col__top2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .directions__col__bottom {
    margin-top: 81px;
    margin-bottom: 0px;
  }
  .directions__col__bottom2 {
    margin-top: 76px;
    margin-bottom: 0px;
  }
  .directions__body__title {
    margin-bottom: 25px;
  }
  .choreographers__col {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
    max-width: 305px;
  }
  .choreographers__name, .choreographers__col__dance {
    font-size: 2.4rem;
    line-height: 133%;
  }
  .schedule__name h2 {
    font-size: 2.4rem;
    line-height: 133%;
  }
  .schedule__name h2::after {
    max-width: 194px;
  }
  .price__body {
    border-radius: 10px;
    background: linear-gradient(164deg, #B661EA 0%, #000 100%);
    max-width: 305px;
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .price__block1__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__block1__col__item--otherBg, .price__block1__col__item__сlock--otherBG {
    background: rgba(255, 255, 255, 0.1);
  }
  .price__block1__col__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 12px;
       -moz-column-gap: 12px;
            column-gap: 12px;
  }
  .price__block1__row {
    margin-left: 0px;
    padding-left: 0px;
  }
  .price__block1__row h4 {
    font-size: 2.4rem;
  }
  .price__block1__les {
    width: 100%;
  }
  .price__block1__les h4 {
    text-align: center;
  }
  .price__block1__col__item h5 {
    font-size: 2rem;
    line-height: 120%;
  }
  .price__block1__col__item__сlock .clock {
    font-size: 2rem;
    line-height: 120%;
  }
  .price__block1__col__item {
    max-width: 148px;
  }
  .price__block1__col__item--116 {
    max-width: 116px;
  }
  .price__block1__col__item__сlock {
    max-width: 147px;
  }
  .price__block1__col__item__сlock--116 {
    max-width: 116px;
  }
  .price__block2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .price__block2__body {
    max-width: 305px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .price__block2__row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
  }
  .price__block2__item__desc {
    white-space: nowrap;
  }
  .price__block2__colm, .price__block2__colm2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: none;
  }
  .price__block2__colm {
    row-gap: 32px;
    width: 134%;
  }
  .price__block2__colm2 {
    row-gap: 48px;
    border-radius: 10px;
    background: var(--colorDecorWhite10, rgba(255, 255, 255, 0.1));
    height: auto;
    padding: 15px 14px;
  }
  .price__block2__item__price {
    font-size: 2rem;
    line-height: 120%;
  }
  .price__block2__item__price--200, .price__block2__item__price--400, .price__block2__item__price--1600, .price__block2__item__price--2600 {
    padding-left: initial;
  }
  .price__block2__quest {
    display: none;
  }
  .price__btn {
    max-width: 140px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 68px;
  }
  .price__btn a {
    font-size: 1.6rem;
  }
  .price__btn a::after {
    content: none;
  }
  .win {
    margin-bottom: 40px;
    background-image: url("../images/fone.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .win__title {
    margin-bottom: 32px;
  }
  .win__title h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 133.333%;
  }
  .win__Russia {
    margin-bottom: 24px;
    text-align: center;
  }
  .win__Russia h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
  }
  .win__desc {
    margin-bottom: 37px;
  }
  .win__desc ul li {
    color: #FAF3FF;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 11px;
  }
  .win__desc ul li:last-child {
    margin-bottom: 0px;
  }
  .win__respublic h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
  }
  .win__respublic ul li {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 11px;
  }
  .win__respublic ul li:last-child {
    margin-bottom: 0px;
  }
  .map__quest {
    margin-bottom: 0px;
  }
  .map .gis2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .map .gis2 #map_364225991 {
    max-width: 303px;
    width: 100%;
    height: 183px;
    border-radius: 10px;
    margin-left: 0px;
  }
  .map .gis2 .mapIframe {
    margin-left: 10px;
  }
  .map .gis2__title {
    position: relative;
  }
  .map .gis2__title::after {
    position: absolute;
    top: -12px;
    right: -38px;
    content: "";
    width: 24px;
    height: 39px;
    background: url(./../images/LocationMedia.svg);
    background-repeat: no-repeat;
  }
  .map .gis2__title h3 {
    font-size: 2.4rem;
    font-weight: 400;
    line-height: 133.333%;
  }
  .map .gis2__img {
    display: none !important;
  }
  .map__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .map__quest__title, .map__quest__text {
    max-width: 304px;
  }
  .map__quest__title h3, .map__quest__text h3 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 120%;
  }
  .footer .nav {
    display: none;
  }
  .footer__phohe {
    display: none;
  }
  .iksweb__hall h2 {
    font-size: 2rem;
    font-weight: 400;
    line-height: 133.333%;
    white-space: normal;
  }
  td h2 {
    font-size: 2rem;
    line-height: 120%;
  }
  .box .box__time {
    display: none;
  }
  .box {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  .schedule__block__table {
    max-width: 100%;
    overflow: hidden;
  }
  .box__desc {
    font-size: 16px;
  }
  .iksweb__clock {
    font-size: 16px !important;
  }
  td h2 {
    font-size: 16px;
    max-width: 36px;
    white-space: nowrap;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}