.block__fone {
  background: url("./../images/fone.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 813px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header {
  padding-bottom: 146px;
  background: var(--gradient-color-gradient-violet-header, linear-gradient(180deg, #B661EA 0%, rgba(47, 47, 47, 0) 100%));
}
.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container {
  max-width: 133.3rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}
.header .nav__link {
  text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FAF3FF;
  font-size: 2rem;
  font-family: "Montserrat";
  line-height: 24px;
  margin-right: 23px;
}
.header .nav__link:last-child {
  margin-right: 0;
}
.header__phohe a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2rem;
  font-family: "Montserrat";
  line-height: 24px;
}