// color: #
$color-fone-grafit:#171717;
$text-color-text-white:#FAF3FF;
$text-color-text-white-60:rgba(255, 255, 255, 0.60);
$gradient-color-gradient-violet-header:linear-gradient(180deg, #B661EA 0%, rgba(47, 47, 47, 0.00) 100%);
$color-decor-violett:#B661EA;
$text-color-text-black:#121212;
// Цвет кнопки в нормальном состоянии
$colorButtonprimaryNormal:#B661EA;
// Цвет кнопки при наведении
$colorButtonprimaryHover:#E5BAFF;
// Цвет кнопки при нажатии
$colorButtonprimaryClick:#66099E;
// Цвет для элементов оформления
$colorDecorViolett:#B661EA;
// Цвет для элементов оформления
$colorDecorViolet50:rgba(182, 97, 234, 0.50);
// Цвет для элементов оформления
$colorDecorGray:#9E9E9E;
$color-decor-white-30:rgba(255, 255, 255, 0.30);
$color-fault-red:#FB2F2F;





