@import "./variables.scss";

.textShadow {
    text-shadow: 7px 9px 5px rgba(97, 5, 153, 0.6);
}

.hover {
    color: $colorDecorViolett !important;
}

.tableNone {
    display: none !important;
}

.block__fone {
    background: url('./../images/fone.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    min-height: 831px;
    flex-shrink: 0;

}

.header {
    z-index: 1;
    position: relative;
    padding-bottom: 146px;
    background: linear-gradient(180deg, #B661EA 0%, rgba(47, 47, 47, 0.00) 100%);
    height: 361px;

    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }

    &__container {
        max-width: 133.3rem;
        margin: 0 auto;
        padding: 0 1.5rem;
        margin-bottom: 146px;
    }

    .nav {
        &__link {
            text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: $text-color-text-white;
            font-size: 2rem;
            font-family: 'Montserrat';
            line-height: 24px;
            margin-right: 23px;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &__phohe a {
        color: $text-color-text-white-60;
        font-size: 2rem;
        font-family: 'Montserrat';
        line-height: 24px;
    }
}

.social {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 19px;
    position: absolute;
    top: 50%;
    left: 13%;
    transition: background-color 0.2s ease-out;

    & a {
        color: $text-color-text-white;
    }

    & a:hover {
        color: $colorDecorViolett;
    }

    &::after {
        content: '';
        height: 256px;
        width: 3px;
        background-color: $text-color-text-white;

    }

    &::before {
        content: '';
        height: 256px;
        width: 3px;
        background-color: $text-color-text-white;
    }
}

.school {

    &__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 99;
    }

    &__desc {
        color: $text-color-text-white;
        text-align: center;
        text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        font-size: 4.8rem;
        font-family: 'Fauna One';
        line-height: 40px;
        margin-bottom: 44px;
    }

    &__name {
        color: $color-decor-violett;
        text-align: center;
        text-shadow: 7px 9px 5px rgba(97, 5, 153, .60);
        font-size: 12rem;
        font-family: 'Cinzel';
        font-weight: 700;
        line-height: 76px;
        margin-bottom: 80px;
        text-transform: uppercase;

        &::after {
            z-index: -1;
            content: '';
            width: 579px;
            height: 579px;
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            top: 115px;
            text-align: center;
            background-image: url('./../images/team.png');
            background-repeat: no-repeat;
        }
    }

    &__link {
        color: $text-color-text-black;
        background-color: $colorButtonprimaryNormal;
        font-size: 3.2rem;
        font-family: Montserrat;
        font-weight: 700;
        max-width: 339px;
        width: 100%;
        height: 79px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 145px;
        transition: background-color 0.2s ease-out;

        &:hover {
            background-color: $colorButtonprimaryHover;
        }
    }
}

.winners {
    display: flex;
    justify-content: center;

    &__body {
        max-width: 1050px;
        height: 48px;
    }

    &__row {
        display: flex;
        align-items: center;
        column-gap: 64px;
        font-size: 2rem;
        color: $text-color-text-white-60;
        text-align: center;
        font-family: 'Montserrat';
        line-height: 24px;
    }

    &__win {
        max-width: 333px;
    }

    &__baby {
        max-width: 256px;
    }

    &__hals {
        max-width: 333px;
    }
}

.directions {
    margin-top: 40px;

    .container__directions {
        max-width: 1292px;
        margin: 0 auto;
        padding: 0px 15px;
    }

    &__body__title {
        color: $text-color-text-white;
        font-size: 4.8rem;
        font-family: 'Montserrat';
        font-weight: 600;
        line-height: 56px;
        position: relative;
        text-align: right;
        margin-bottom: 80px;

        &::after {
            position: absolute;
            content: '';
            bottom: 0;
            right: 0;
            margin-top: 2px;
            max-width: 410px;
            width: 100%;
            height: 3px;
            background: #B661EA;
            ;
        }
    }

    &__row {
        display: flex;
        column-gap: 112px;
        text-align: center;

    }

    &__col__row {
        max-width: 229px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    flex: 0 1 25%;

    &__col__top2 {
        margin-top: 80px;
        margin-bottom: 176px;
    }

    &__col__bottom {
        margin-top: 176px;
        margin-bottom: 80px;
    }

    &__col__name {
        color: $text-color-text-white;
        text-align: center;
        font-size: 4rem;
        font-family: 'Montserrat';
        font-weight: 500;
        line-height: 48px;
    }

    &__col__video__link {
        display: inline-block;
        color: $colorDecorViolet50;
        font-size: 2.4rem;
        font-family: 'Montserrat';
        line-height: 32px;
        text-decoration: underline !important;
        text-underline-position: under;
    }
}

.choreographers {
    margin-top: 40px;
    background: url('./../images/fone-chore.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    height: 768px;

    &__container {
        max-width: 1324px;
        margin: 0 auto;
        padding: 0px 15px;
        color: $text-color-text-white;
        font-family: 'Montserrat';
    }



    &__col {
        width: 410px;
        height: 460px;
        position: relative;
        z-index: 1;
        border-radius: 10px;
        border: 1px solid $colorDecorGray;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 30%;
        position: relative;

        &:hover {}
    }

    &__col__block img {
        width: 311px;
        height: 311px;
        border-radius: 50%;
        transition: all .2s ease-in-out;

        &:hover {
            width: 394px;
            height: 450px;
            border-radius: 10px;
        }
    }

    &__name {
        text-align: center;
        padding-top: 55px;
        margin-bottom: 80px;
        font-size: 4.8rem;
        font-weight: 600;
        line-height: 56px;
    }

    &__col__block {
        max-width: 410px;
        max-height: 410px;
        overflow: hidden;
        border-radius: 50%;
        transition: all .3s ease-out;

        &:hover {
            border-radius: 10px;
            max-width: 411px;
            max-height: 438px;
            width: 100%;
            height: 100%;
        }
    }

    &__col__text {
        position: absolute;
        bottom: 26px;
    }

    &__row {
        text-align: center;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 30px;
        overflow-y: scroll;
        height: 500px;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            width: 0px;
        }
    }

    &__col__item {
        display: flex;
        align-items: center;
        column-gap: 21px;
    }

    &__col__dance {
        font-size: 3.2rem;
        font-weight: 500;
        line-height: 40px;
        margin-bottom: 24px;
    }

    &__col__name {
        display: flex;
        align-items: center;
        font-size: 2rem;
        line-height: 24px;
        position: relative;
        height: 39px;
    }

}

.schedule {
    &__body {
        position: relative;

        &::after {
            content: '';
            background: url('./../images/DecorCircle.png');
            background-repeat: no-repeat;
            position: absolute;
            width: 183px;
            height: 452px;
            top: -209px;
            right: 0;

        }
    }

    &__name h2 {
        color: $text-color-text-white;
        font-size: 4.8rem;
        font-family: "Montserrat";
        font-weight: 600;
        line-height: 56px;
        position: relative;
        text-align: left;
        margin-top: 80px;
        margin-bottom: 64px;

    }

    &__name h2::after {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        margin-top: 2px;
        max-width: 410px;
        width: 100%;
        height: 3px;
        background: #B661EA;
    }
}

table.iksweb {
    width: 100%;
    border-spacing: 0;
    height: auto;

}

table.iksweb,
table.iksweb td,
table.iksweb th {
    border-top: 0px solid #B661EA;
    border-left: 0px solid #B661EA;
    border-collapse: collapse;

}

table.iksweb th :hover {
    color: #193616;


}

table.iksweb td,
table.iksweb th {
    padding: 3px;
    width: 184px;
    height: 200px;
    color: $colorDecorViolett;
}

table.iksweb th {
    font-weight: normal;
}

td {
    border: 1px solid;
}

td:nth-child(7n) {
    border-right: 0px solid #B661EA;
}

.none td {
    border-bottom: 0px solid #B661EA;
}

.box .box__time {
    display: flex;
    align-items: start;
}

.box__body__desc__style {
    color: $color-decor-white-30;
    text-align: center;
    font-size: 1.6rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.box__body__desc__type {
    color: $color-fault-red;
    text-align: center;
    font-size: 2rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
}

.box__body__desc {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box__time {
    color: $color-decor-white-30;
    font-size: 1.6rem;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    top: -52px;
}

table .iksweb {
    &__hall {
        text-align: center;
        color: $text-color-text-white;
        font-size: 3.3rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        line-height: 40px;
    }

    &__day,
    &__clock {
        text-align: center;
        color: $text-color-text-white;
        font-size: 2.4rem;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
    }
}

.table__link__table {
    display: flex;
    justify-content: center;
    margin-top: 56px;

    .table__link {
        display: flex;
        justify-content: center;
        color: $text-color-text-black;
        background-color: $colorButtonprimaryNormal;
        font-size: 2rem;
        font-family: 'Montserrat';
        font-weight: 700;
        max-width: 326px;
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 145px;
        transition: background-color 0.2s ease-out;

        &:hover {
            background-color: $colorButtonprimaryHover;
        }
    }
}

.price {
    &__body {
        display: flex;
        justify-content: center;
        height: 567px;
        margin: 0 auto;
        max-width: 1070px;
        background: var(--gradient-color-gradient-violet-left, linear-gradient(89deg, #B661EA 0%, #000 100%));
        background-position: center;
        clip-path: polygon(50% 0%, 100% 0, 100% 80%, 77% 80%, 77% 100%, 32% 100%, 0 100%, 0% 43%, 0 0);
    }

    &__block1__col__box {
        display: flex;
        column-gap: 8px;
        
    }
    &__block1__col__box--margin{
        margin-top: 9px;
    }
    &__block1__row {
        padding-top: 34px;
        padding-left: 73px;
        display: flex;
        align-items: center;
        column-gap: 64px;

        h4 {
            color: $text-color-text-white;
            font-size: 3.6rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
        }
    }

    &__block1__col__item {
        display: flex;
        justify-content: center;
        column-gap: 8px;
        width: 300px;
        align-items: center;
        border-radius: 10px;
        background: $color-decor-violet-50;
        height: 106px;

        h5 {
            color: $text-color-text-white;
            text-align: center;
            font-size: 3.2rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            line-height: 40px;
        }
    }

    &__block1__col__item__сlock {
        display: flex;
        flex-direction: column;
        column-gap: 8px;
        width: 300px;
        border-radius: 10px;
        background: $color-decor-violet-50;
        height: 106px;

        .clock {
            color: $text-color-text-white;
            font-size: 2.4rem;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            line-height: 32px;
            display: flex;
            justify-content: center;
            margin: auto ;
        }
    }
    &__block1__col__item--otherBg, &__block1__col__item__сlock--otherBG{
        background: $color-decor-white-10;
    }
    .hr-line{
        border: 1px solid rgba(255, 255, 255, 0.10);
    }

}

// .iksweb th, .iksweb td {
// 	position: relative;
// }

// .iksweb td:hover:after {
// 	content: '';
// 	position: absolute;
// 	top: 0px;
// 	right: 0px; 
// 	bottom: 0px;    
// 	left: 0px;
// 	border: 6px solid #B661EA;
// }