// color: #
$color-fone-grafit: #171717;
$text-color-text-white: #faf3ff;
$text-color-text-white-60: rgba(255, 255, 255, 0.6);
$gradient-color-gradient-violet-header: linear-gradient(
  180deg,
  #b661ea 0%,
  rgba(47, 47, 47, 0) 100%
);
$color-decor-violett: #b661ea;
$text-color-text-black: #121212;
// Цвет кнопки в нормальном состоянии
$colorButtonprimaryNormal: #b661ea;
// Цвет кнопки при наведении
$colorButtonprimaryHover: #e5baff;
// Цвет кнопки при нажатии
$colorButtonprimaryClick: #66099e;
// Цвет для элементов оформления
$colorDecorViolett: #b661ea;
// Цвет для элементов оформления
$colorDecorViolet50: rgba(182, 97, 234, 0.5);
// Цвет для элементов оформления
$colorDecorGray: #9e9e9e;
$color-decor-white-30: rgba(255, 255, 255, 0.3);
$color-fault-red: #fb2f2f;
$color-decor-white-10: rgba(255, 255, 255, 0.1);
$color-decor-violet-50: rgba(182, 97, 234, 0.5);
$gradient-color-gradient-violet-left: linear-gradient(
  89deg,
  #b661ea 0%,
  #000 100%
);
$button-color-button-2-dark: #2f2f2f;
$color-foneandicon-rosy-white: #fcf3ff;
$color-decor-gray: #9e9e9e;
$button-color-buttonprimary-normal: #b661ea;
$colorDecorWhite30: rgba(255, 255, 255, 0.3);
$colorDecorWhite10: rgba(255, 255, 255, 0.1);
$gradient-color-gragient-violet-top: linear-gradient(
  164deg,
  #b661ea 0%,
  #000 100%
);
$colorFoneGrafit: #171717;
$gradient-color-gradient-violet-header: linear-gradient(
  180deg,
  #b661ea 6.46%,
  rgba(47, 47, 47, 0) 20.56%
);
$ColorDecorBlack70: rgba(0, 0, 0, 0.7);
$colorDecorBlack: #121212;
$Button-colorButtonprimaryNormal: #b661ea;
$colorFoneGrafit: #171717;
$colorFaultRed: #FB2F2F;
$colorHeaderForm: rgb(250, 243, 255);
$colorFormPlaceholder: rgb(158, 158, 158);
$boxShodowFormButton: 4px 6px 6px 0px rgba(97, 5, 153, 0.5);
$backgroundFormButton: rgb(182, 97, 234);
$colorFormButton:rgb(18, 18, 18);
