.chore {
  padding: 10px;
  &__container {
    max-width: 1291px;
    margin: 0 auto;
  }
  &__body {
    background: url("../../images/fone4.jpg"), lightblue 0% / cover no-repeat;
    position: relative;
    z-index: 1;
    padding: 96px 80px auto 55px;
  }
  &__row {
    background: $colorFoneGrafit;
    display: flex;
    column-gap: 85px;
    opacity: 0.9;
  }
  &__content {
    position: relative;
    z-index: 2;
    margin-right: auto;
    margin-top: 65px;
  }
  &__slider {
    margin-left: auto;
    margin-top: 65px;
    margin-bottom: auto;
    margin-right: auto;

  }

  &__desc__row {
    display: flex;
    flex-direction: column;
  }
  &__name {
    color: $text-color-text-white;
    text-align: right;
    text-shadow: 7px 9px 5px rgba(97, 5, 153, 0.6);
    font-size: 4rem;
    font-weight: 500;
    line-height: 120%;
    padding-bottom: 40px;
  }
  &__steel {
    padding-bottom: 64px;
    color: $text-color-text-white;
    text-align: right;
    font-weight: 500;
    font-size: 4rem;
    line-height: 120%;
  }
  &__time {
    padding-bottom: 32px;
    color: $text-color-text-white;
    text-align: right;
    font-size: 32px;
    font-weight: 500;
    line-height: 120%;
  }

  &__btn {
    display: flex;
    padding: 18px 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    background: $button-color-button-2-dark;
    box-shadow: 4px 6px 6px 0px rgba(97, 5, 153, 0.5);
    color: $text-color-text-white;
    font-size: 2rem;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 72px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      width: 300px;
      height: 100px;
      box-shadow: 4px 6px 6px 0px rgba(97, 5, 153, 0.5);
      border-radius: 342px;
      background: #b661ea;
      filter: blur(50px);
      z-index: -1;
    }
  }
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  overflow: auto;

}
.modal-open {
  display: block;
}
.modal__content {
  margin: 0px auto;
  // padding: 20px;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}